{% import 'Macros.twig' as macros %}

{% block setting_wrap %}
	<div id="cinder_setting-{{ full_setting_id }}" class="cinder-setting-wrap{% for class in setting_classes %} {{ class }}{% endfor %}" data-setting-id="{{ full_setting_id }}" {% for attr, value in setting_attrs %} {{ attr }}="{{ value }}"{% endfor %}>
		{% block setting %}
			{% block setting_title_wrap %}
				<div class="cinder-title-wrap cinder-setting-title-wrap">
					{% block setting_title %}
						<span class="cinder-title cinder-title-sect cinder-setting-title">{{ setting_title }}</span>
					{% endblock %}
				</div>
			{% endblock %}
			{% block setting_value_wrap %}
				<div class="cinder-setting-value-wrap">
					{% block setting_value %}
						{{ macros.input( setting_name, setting_value, setting_type, setting_input_attrs ) }}
					{% endblock %}
				</div>
			{% endblock %}
		{% endblock %}
	</div>
{% endblock %}
