{% block button %}
	<button type="{{ type }}" class="{% block class %}lava-btn{% endblock%}" value="{{ value }}" {% for attr, value in attrs %} {{ attr }}="{{ value | e }}"{% endfor %}>
		{{ text | default( 'undefined' ) }}
	</button>
{% endblock %}